@import "./../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.filters {
  display: flex;
  width: 100%;
  padding: 40px 0px 0px 0px;
  font-size: 14px;
  .filter {
    width: 20%;
    height: 300px;
    margin: 1px;
    .title {
      cursor: pointer;
      font-family: $rubikm;
      color: $black;
      margin-bottom: 40px;
    }
    .sort {
      display: flex;
      flex-direction: column;
      button {
        @include btn-reset;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 13px;
        span {
          font-family: $rubikr;
          font-size: 14px;
          cursor: pointer;
          color: $filtergrey;
        }
      }
    }
    .price {
      display: flex;
      flex-direction: column;
      button {
        @include btn-reset;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 13px;
      }
      span {
        font-family: Rubik-Regular;
        font-size: 14px;
        cursor: pointer;
        color: $filtergrey;
      }
    }
    .color {
      display: flex;
      flex-direction: column;
      button {
        @include btn-reset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 13px;
        & .circleyellow {
          @include color-circle(#faed34);
        }
        & .circlegray {
          @include color-circle(#858585);
        }
        & .circlered {
          @include color-circle(#ee1313);
        }
        & .circleblack {
          @include color-circle(#252525);
        }
        & .circleblue {
          @include color-circle(#6b95d9);
        }
        & .circlegreen {
          @include color-circle(#78cc41);
        }
        span {
          font-family: $rubikr;
          font-size: 14px;
          cursor: pointer;
          color: $filtergrey;
        }
      }
    }
    .size {
      display: flex;
      flex-direction: column;
      button {
        @include btn-reset;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 13px;
      }
      span {
        font-family: $rubikr;
        font-size: 14px;
        cursor: pointer;
        color: $filtergrey;
      }
    }
    .tags {
      display: flex;
      flex-direction: column;
      button {
        @include btn-reset;
      }
    }
  }
}
