@import "../../sass/_variables.scss";

.salerect {
  position: absolute;
  top: 0;
  left: 0;
  color: $white;
  font-family: $rubikm;
  border-bottom-right-radius: 5px;
  padding: 5px 12px;
  font-size: 12px;
  background-color: $btngreen;
}
