.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rubik-Medium;
  background-image: url("../../assets/images/banner.jpg");
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  width: 100%;
  height: 800px;
  min-height: 800px;
  max-height: 800px;
  background-color: #f7f7f7;
  & span {
    font-size: 60px;
    color: #252525;
  }
  & p {
    font-family: Rubik-Regular;
    margin: 20px 0px 30px 0px;
    color: #858585;
  }
  & button {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: Rubik-Medium;
    background-color: #d35050;
    border-style: none;
    padding: 15px 26px 13px 26px;
  }
}
