@import "../../sass/variables";

.searchcontainer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(247, 247, 247);
  justify-content: center;
  .searchwrapper {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-top: 120px;
    .titleclose {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      span {
        font-family: $rubikr;
        font-size: 24px;
        color: $black;
        &:nth-child(2) {
          font-family: $icons;
          color: $btnpink;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
    input {
      padding: 13px 10px;
      border: 1px solid $mediumgrey;
      &:focus {
        outline: none;
      }
    }
  }
}
