@font-face {
  font-family: "Rubik-Regular";
  src: url("./assets/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("./assets/fonts/Rubik-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ElegantIcons";
  src: url("./assets/fonts/ElegantIcons.ttf") format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "MrDafoe-Regular";
  src: url("./assets/fonts/MrDafoe-Regular.ttf") format("truetype");
  font-weight: bolder;
}

body {
  font-family: Rubik-Regular, Rubik-Medium;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
